<!DOCTYPE html>
<body>
  <h1>
    Spotify Song Recommendation
  </h1>
  <div class="input-div">
    <h3>
      Input song URI here
    </h3>
    <form id="input-form", method='POST'>{% csrf_token %}
      <input type="text" name="playlist_uri">
      <input class="button" value="recommend" type="submit">
    </form>
  </div>

  <div class="recommendation-list">
    <h3>Recommended Songs:</h3>
    <ul>
      {% for song in recommended_songs %}
        <li class="{% cycle 'row1' 'row2' %}">
          <a href="{{song.url}}" target="_blank">{{ song.title }} by {{song.artist}}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</body>